<h1>Cambio de contraseña</h1>

<form action="" id="formNuevaC">
  <label for="input_contra">Contraseña Nueva: </label> <input id="input_contra" type="password"><br>
  <label for="input_confirmar">Confirmar Contraseña: </label> <input id="input_confirmar" type="password"><br>
  <button type="submit">Enviar</button>
</form>

<script src="/js/contraNueva.js"></script>

