<h1>Ingrese su correo electronico, recibira un link para restablecer su contraseña: </h1>

<form action="" id="mail">
    <label for="input_email">Email: </label> <input id="input_email" type="email"> <br>
    <button type="submit">Enviar</button>
</form>

<script src="/js/ingresarMail.js"></script>