<h1>Inicio de Sesion</h1>
<form action="" id="formLogin">
  <label for="input_email">Email: </label> <input id="input_email" type="email" placeholder="email"><br>
  <label for="input_password">Contraseña: </label> <input id="input_password" type="password"><br>
  <button type="submit">Enviar</button>
</form>

<p>Olvidaste tu Contraseña? <a href="/ingresarMail">Restablecela Aca</a></p>

<p>No tenes una Cuenta? <a href="/register">Regístrate Aca</a></p>

<div>
  <a href="/github">
    <button>Entrar con Github</button><br><br>
  </a>
</div>

<button><a href="/products">Ir a Productos</a></button><br><br>

<script src="/js/login.js"></script>