<h1>Perfil</h1>
<p>Nombre completo: {{user.first_name}} {{user.last_name}}</p>
<p>Correo electronico: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<form id="formLogout">
  <button type="submit">Logout</button>
</form>
<script src="/js/profile.js"></script>