<h1>PRODUCTOS COMPRADOS EXITOSAMENTE: </h1>

<ul>
    {{#each productosComprados}}
        <li>{{this.quantity}} Unidades de: {{this.title}} con un precio unitario de: {{this.price}}</li>
    {{/each}}
</ul>

<h3>Total: $ {{total}}</h3><br><br>

<button><a href="/cart">Ir al Carrito</a></button><br><br>
<button><a href="/profile">Ir a la vista del perfil</a></button><br><br>
<button><a href="/products">Ir a Productos</a></button><br><br>