<h1>Real Time Products</h1>

<h2>Cargar Producto Nuevo: </h2>
Titulo: <input id="inputTitulo" type="text">
Precio: <input id="inputPrecio" type="text">
<button id="btnCargar">Cargar Nuevo Producto</button>

<h2>Productos en tiempo real: </h2>
<div id="realtime"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>