<h1>Todos los Usuarios: </h1>

{{#each usuarios}}
    <li>Nombre: {{this.first_name}}  |  Email: {{this.email}}  |  Rol: {{this.role}} |  ID: {{this._id}}</li><br>
{{/each}}
{{!-- dejo el id para que puedas modificar el usuario que quieras --}}